.logo__cursor {
    background: #7ec699;
  }

a {
  text-decoration: none; /* no underline */
}

article a {
  text-decoration: underline;
}

a:hover {
  color: #7ec699;
}

.post-tags-list {
  display: flex;
}

.post-tag {
  padding: 5px 5px 5px 5px;
}